<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-card class="ion-text-center ion-margin-bottom">
      <ion-card-header>
        <ion-icon name="person" style="font-size: 128px"></ion-icon>
        <ion-card-title>Syauqi Damario Djohan</ion-card-title>
        <ion-card-subtitle>00000022467</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card class="ion-text-center ion-margin-bottom">
      <ion-button expand="block" (click)="logout()">Logout</ion-button>
    </ion-card>
    <ion-card class="ion-text-center ion-margin-bottom">
      <p class="ion-padding">Kesan pesan: Kenapa harus sore kalau bisa siang</p>
    </ion-card>
  </div>
</ion-content>

